@for $i from 1 through 18 {
  $a: #{$i*90};
  $b: #{$i*90+360};

  .blob:nth-child(#{$i}) {
    animation: move#{$i} 5s linear infinite alternate both;
  }

  @keyframes move#{$i} {
    from {
      transform: rotate(#{$a}deg) translate(200px 0.1px) rotate(-#{$a}deg);
    }
    to {
      transform: rotate(#{$b}deg) translate(500px, 0.1px) rotate(-#{$b}deg);
    }
  }
}