/* Fonts */
@font-face {
  font-family: 'HelveticaNeueBold';
  src: url(../fonts/HelveticaNeueBold.otf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueNormal';
  src: url(../fonts/HelveticaNeueRoman.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url(../fonts/HelveticaNeueMedium.otf);
  font-weight: normal;
  font-style: normal;
}

* {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #1A1A1A;
  margin: 0;
  padding: 0;
}

.background {
  display: flex;
  flex-direction: column;
}

.content {
  max-width: 1440px;
  width: 100%;
  padding: 60px 90px;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  align-self: center;
}

.landing.background {
  background: url(../assets/homepage-background.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sticky_navbar {
  top: 0;
  position: sticky;
  height: 35px;
}

.logo, .hamburger {
  height: 35px;
  filter: drop-shadow(1px 1px 10px #5c5c5c);
}

.landing.title {
  margin-top: 16vh;
  color: white;
}

.landing.title > div {
  width: fit-content;
  cursor: default;
}

.landing.main_title {
  font-family: "HelveticaNeueBold";
  font-size: 150px;
  line-height: 120px;
  letter-spacing: -6px;
  text-shadow: 8px 8px 20px #8B8B8B;
  filter: blur(2px);
}

.landing.sub_title {
  margin-top: 20px;
  filter: blur(1.5px);
  text-shadow: 4px 4px 20px #8B8B8B;
  font-size: 30px;
  line-height: normal;
  font-family: "HelveticaNeueMedium";
}

.landing.main_title:hover, .landing.sub_title:hover {
  filter: blur(0px);
}
