body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #303030;
}

.main-frame {
    max-width: 1728px;
    width: 100vw;
    overflow: hidden;
}

.homepage-landing {
    background: url(../assets/homepage-background.png);
    background-color: whitesmoke;
    height: 1117px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y: auto;
}

.navbar {
    margin: 83px 108px 0px 108px;
}